<DOCTYPE html>

	<html lang="en">
<head>
    <title>My Dream Project</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="body">

    <header class="mainheader">
	<img src="media/moi.jpg"/>

	<nav>
		<ul>
		<li class="active"><a href="#">home</a></li>
		<li><a href="#">contact us</a></li>
		<li><a href="#">archive</a></li>
		<li><a href="#">address</a></li>
		<li><a href="#">messages</a></li>
		
	    </ul>
    </nav>
    </header>
<HR>
<div class="mainContent">

	<div class="content">

	    <article class="topcontent">
	    	<header>
	    		        <table>
              	<tr>
              		<th>Purchase Order</td>
              		<th>Employee Name</td>
              		<th>Date Rec</td>
              		<th>Description</td>
              		<th>Depratment</td>

              	</tr>

              	<tr>
              		<td>1256/2016</td>
              		<td>Mohamed Awad</td>
              		<td>25/5/2015</td>
              		<td>medical ca for medical section</td>
              		<td>Medical Depratment</td>
              	</tr>
              	<tr>
              		<td>126/2016</td>
              		<td>Mohamed ali</td>
              		<td>2/5/2015</td>
              		<td> castfor medical section</td>
              		<td>Medical </td>
              	</tr>
              	<tr>
              		<td>1/2016</td>
              		<td>Mohamed </td>
              		<td>25/5/2016</td>
              		<td>medical section</td>
              		<td>Medical </td>

              
              	</tr>
              </table>
	        </header>


	        <footer> 
	        	<p class="post-info">This is should be some information about the table</p>
	        </footer>
	        <content>
	        	

   
	        </content>
 
 	    </article>


   
</div>
<aside class=" top-sidebar">
     <img src="media/new.jpg"/>
</aside>

<aside class="middle-sidebar">
	<article>
		<h2>some quick features</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
	        	</p>
	</article>
</aside>
<aside class="botton-sidebar">
	<article>
		<h2>polls</h2>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus.
	        	</p>
	</article>
</aside>

<footer class="mainFooter">
   <p>Copyright &copy:mohmed awad project
</footer>


</body>
</html>
